<!DOCTYPE html>

<html lang="en" ng-app="coffeeApp">

<head>
    <title>Hello Coffee</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>

<body>

<div ng-controller="DrinksController" class="container">

    <alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
        {{message.msg}}
        <div ng-show="message.orderId">
            <a id="link-to-order" ng-href="/service/coffeeshop/{{message.coffeeShopId}}/order/{{message.orderId}}">Order details</a>
        </div>
    </alert>

    <form ng-submit="giveMeCoffee()">

        <div class="form-group">
            <label>Drink</label>
            <select ng-model="drink.type" ng-options="type.name for type in types | orderBy: 'name' "
                    class="form-control"> </select>
        </div>
        <div class="form-group">
            <label>Sizes</label>
            <select ng-model="drink.size" ng-options="size for size  in sizes" class="form-control"> </select>
        </div>

        <div class="form-group">
            <label>Your name:</label>
            <input type="text" ng-model="drink.drinker" ng-required="true" class="form-control"/>
        </div>

        <input type="submit" value="Give me coffee" class="btn btn-default btn-lg"/>
    </form>

    <pre>{{drink | json}}</pre>
</div>


<!-- Download https://code.angularjs.org/1.2.0/ -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<!-- Download http://angular-ui.github.io/bootstrap/ -->
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="js/coffee.js"></script>

</body>
</html>